.top-header {
  width: 100%;

  background: var(--gray-400);
}

.top-header-links {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: 459px 1fr 90px;
  margin: 0 auto;
  padding: 10px 20px;
}

.top-header-link {
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 14px;

  .top-header-link-text {
    color: var(--gray);
  }

  &.top-header-whatsapp-link {
    span:last-child {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .icon-location {
    font-size: 17px;
    color: var(--gray);
  }

  .icon-clock {
    font-size: 17px;
    color: var(--gray);
  }

  .icon-whatsapp {
    font-size: 21px;
    color: var(--gray);
  }
}

.middle-header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0 auto;
  padding: 20px 20px 28px;

  .menu-burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 28px;
    height: 22px;

    background: none;

    cursor: pointer;
    transition: all 0.5s ease 0s;

    &:hover {
      gap: 0;

      .burger-top-line,
      .burger-bottom-line {
        opacity: 0;
      }
    }

    .burger-line {
      display: block;
      width: 28px;
      height: 4px;
      border-radius: 4px;

      background: var(--black);

      transition: all 0.5s ease 0s;
    }
  }

  .spacer {
    display: block;
    width: 1px;
    height: 35px;

    background: var(--gray-200);
  }

  .middle-header-text {
    max-width: 170px;

    font-weight: 700;
    font-size: 16px;

    .red-text {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 22px;
      max-width: 61px;
      width: 100%;

      background: var(--red);
      color: var(--white);
    }
  }

  .navigation {
    max-width: 406px;
    width: 100%;
  }

  .navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 406px;
    width: 100%;

    .navigation-link {
      transition: all 0.3s ease 0s;

      &.active,
      &:hover {
        color: var(--red);
      }
    }
  }

  .middle-header-call-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;

    .icon-call {
      position: relative;
      top: -12px;

      font-size: 31px;

      color: var(--red);

      animation: iconCall 1s linear infinite 0s;

      @keyframes iconCall {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    .middle-header-phone-numbers {
      flex: 1 0 213px;
      max-width: 213px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 5px;

      .phone-link-main {
        position: relative;

        display: inline-block;

        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;

        color: var(--black);

        &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 1px;
          bottom: -6px;
          left: 0;
          background: var(--black);

          transition: all 0.5s ease 0s;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }

      .phone-link-secondary {
        position: relative;

        display: inline-block;

        font-size: 16px;
        text-transform: uppercase;

        color: var(--black);

        &::before {
          content: '';
          position: absolute;
          width: 0%;
          height: 1px;
          bottom: -1px;
          left: 0;
          background: var(--black);

          transition: all 0.5s ease 0s;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .middle-header-btn {
    max-width: 210px;
    width: 100%;
    padding: 16px 22px;
    border-radius: 6px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    color: var(--white);
    background: var(--red);

    cursor: pointer;
    transition: all 0.5s ease 0s;

    &:hover {
      background: var(--gray);
    }
  }
}

.bottom-header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 86px;
  margin: 0 auto;
  padding: 0px 20px 29px;

  .bottom-header-nav {
    max-width: 1169px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bottom-header-nav-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;

      color: var(--black);

      .icon-small-arrow {
        font-size: 7px;

        color: var(--gray);

        transition: all 0.5s ease 0s;
      }

      &::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background: var(--black);

        transition: all 0.5s ease 0s;
      }

      &:hover {
        &::before {
          width: 100%;
        }

        .icon-small-arrow {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .bottom-header-icons {
    max-width: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 42px;

    .favorites-icon,
    .sort-icon,
    .search-icon {
      position: relative;

      font-size: 21px;

      transition: all 0.5s ease 0s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .icon-favorites,
    .icon-sort,
    .icon-search {
      color: var(--gray);
    }
  }
}
