<header class="header">
  <div class="top-header">
    <span class="top-header-links">
      <p class="top-header-link"><span class="icon icon-location"></span><span class="top-header-link-text">Россия,
          Москва, 38КМ МКАД, 6Бс1</span>
      </p>
      <p class="top-header-link"><span class="icon icon-clock"></span><span class="top-header-link-text">Время работы: c
          08:00 до 21:00</span></p>
      <a class="top-header-link top-header-whatsapp-link" href="#" target="_blank"><span
          class="icon icon-whatsapp"></span><span class="top-header-link-text">Whatsapp</span></a>
    </span>
  </div>
  <div class="middle-header">

  </div>
  <div class="bottom-header">

  </div>
</header>