<header class="header">
  <div class="top-header">
    <span class="top-header-links">
      <p class="top-header-link"><span class="icon icon-location"></span><span class="top-header-link-text">Россия,
          Москва, 38КМ МКАД, 6Бс1</span>
      </p>
      <p class="top-header-link"><span class="icon icon-clock"></span><span class="top-header-link-text">Время работы: c
          08:00 до 21:00</span></p>
      <a class="top-header-link top-header-whatsapp-link" href="#" target="_blank"><span
          class="icon icon-whatsapp"></span><span class="top-header-link-text">Whatsapp</span></a>
    </span>
  </div>
  <div class="middle-header">
    <button class="menu-burger-icon">
      <span class="burger-line burger-top-line"></span>
      <span class="burger-line burger-middle-line"></span>
      <span class="burger-line burger-bottom-line"></span>
    </button>
    <img class="middle-header-logo" src="/icons/full-logo.svg" alt="full-logo">
    <span class="spacer"></span>
    <p class="middle-header-text"><span class="red-text">10 лет</span> превосходим ваши ожидания</p>
    <nav class="navigation">
      <ul class="navigation-list">
        <li><a href="#" class="navigation-link active">Подбор авто</a></li>
        <li><a href="#" class="navigation-link">О компании</a></li>
        <li><a href="#" class="navigation-link">Техцентр</a></li>
        <li><a href="#" class="navigation-link">Отзывы</a></li>
        <li><a href="#" class="navigation-link">Контакты</a></li>
      </ul>
    </nav>
    <div class="middle-header-call-block">
      <span class="icon icon-call"></span>
      <div class="middle-header-phone-numbers">
        <a href="#" class="phone-link-main">+7 (800) 551-94-31</a>
        <a href="#" class="phone-link-secondary">+7 (495) 292-18-67</a>
      </div>
    </div>
    <button class="middle-header-btn">Обратный звонок</button>

  </div>
  <div class="bottom-header">

  </div>
</header>